html,body{
    background-image: url("../static/imagens/background_edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-position: center;
}

.footer {
  background: transparent;
}

#btnProcurar{
    background-color: #2e303a;
    color: white;
} 
#btnProcurar:hover{
    background-color: #6d7180; 
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
    color: white;
}

#titulos{
   animation: fadeIn 2s ease; 
}

#form{
    animation: fadeIn 3s ease;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

a:hover {
  color: #9F5FFF;
  text-decoration: underline;
  transition: 0.3s;
}

#spinner{
    height: 80px ;
    width: 80px;
    border: 20px solid rgba(255, 255, 255, 0.1);
    border-top-color: #09d ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

@media(max-width: 600px){
    #login{
        height: 100%;
        width: 80%;
    }
}