body{
    background-image: url("../static/imagens/background_edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Telegraf';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}


#btnProcurar, #txtGenero, #inputQuantidadeMusica{
    background-color: #858BA9; 
    color: white;
} 
#btnProcurar:hover{
    background-color: #585c6e; 
}

h1, h2{
    font-family: 'Telegraf';
    color: rgb(116, 105, 175);
}

#form, #login{
    background-color: rgba(41, 2, 39, 0.5);
}

#modalContent{
    background-color: rgba(41, 2, 39, 1);
}

#modalLabel{
    color: white;
}

#spinner{
    height: 80px ;
    width: 80px;
    border: 20px solid rgba(255, 255, 255, 0.1);
    border-top-color: #09d ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

@media(max-width: 600px){
    #login{
        height: 100%;
        width: 80%;
    }
}